:root {
  --background: black !important;
  --color: white !important;
  --color-accent: red !important;
  --color-accent-low: hsl(0, 100%, 50%) !important;
  --base-font-size: 1rem;
  --color-winning: gold !important;
}
/* html,
body {
} */

/* width */
::-webkit-scrollbar {
  width: calc(var(--base-font-size) * 1);
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 var(--base-font-size) grey;
  border-radius: calc(var(--base-font-size) * 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: calc(var(--base-font-size) * 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent-low);
}

object[type="image/svg+xml"] {
  height: var(--base-font-size);
  width: var(--base-font-size);
  pointer-events: none;
}
progress {
  width: 100%;
}
progress[value]::-webkit-progress-bar {
  background-color: hsl(0, 0%, 50 /0.5);
  border-radius: calc(var(--base-font-size) * 1.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  border-radius: calc(var(--base-font-size) * 1.5);
  background-color: hsl(0, 100%, 100%);
}
progress:not([value]) {
  display: none;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--color);
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  font-size: var(--base-font-size);
}

/* body,
div {
  margin: 0;
  padding: 0;
} */

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus,
input:focus,
button:hover,
input:hover {
  /* border-color: #666; */
  box-shadow: 0 0 4px 3px var(--color-accent);
}
